$red: rgba(255, 75, 62, 1);
$back: rgba(5, 16, 26, 1);
$back-li: rgba(15, 26, 36, 1);
$back-op: rgba(5, 16, 26, 0.6);
$gray: rgba(51, 51, 51, 1);
$gray-light:rgba(110, 110, 110, 1);
$gray-light2:rgba(150, 150, 150, 1);
$dark-blue: rgba(17, 47, 97, 1);
$purpol: rgba(220, 7, 149, 1);
$bright-blue: rgba(7, 195, 220, 1);
$light-green: rgba(96, 171, 42, 1);
$yellow: rgba(244, 208, 10, 1);
$raleway: 'Raleway';
