/* Coolors Exported Palette - coolors.co/112f61-dc0795-07c3dc-60ab2a-f4d00a */

/* HSL */
$color1: hsla(218%, 70%, 22%, 1);
$color2: hsla(320%, 94%, 45%, 1);
$color3: hsla(187%, 94%, 45%, 1);
$color4: hsla(95%, 61%, 42%, 1);
$color5: hsla(51%, 92%, 50%, 1);

/* RGB */
$color1: rgba(17, 47, 97, 1);
$color2: rgba(220, 7, 149, 1);
$color3: rgba(7, 195, 220, 1);
$color4: rgba(96, 171, 42, 1);
$color5: rgba(244, 208, 10, 1);