.section.bg-image-yes {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media (min-width: 1280px){
    .section.bg-image-yes, header.hero.parallax-yes>.parallax>.bcg {
    background-attachment: fixed;
    }
}

#strenghts {
    background-image: url(../images/bg-strenghts.jpg);
    background-position: center top;
}

.section.bg-image-yes .container-fluid.section-wrapper {
    position: relative;
}

.section.bg-image-yes .container-fluid.section-wrapper>.section-content, .section.parallax-yes .container-fluid.section-wrapper>.section-content {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 992px){
.section.bg-image-yes .container-fluid.section-wrapper>.section-content {
    width: 970px;
}
}

@media (min-width: 1200px){
.section.bg-image-yes .container-fluid.section-wrapper>.section-content {
    width: 1170px;
}
}

#strenghts .section-wrapper>.section-content {
    padding-bottom: 0;
}

.section.bg-image-yes .container-fluid.section-wrapper>.section-content:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}

.column-chart {
    position: relative;
    z-index: 20;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 320px;
    margin-top: 40px;
    margin-left: -50%;
    opacity: .8;
}

@media (min-width: 568px){
.column-chart {
    width: 80%;
    margin-left: -40%;
}
}

@media (min-width: 768px){
.column-chart {
    width: 60%;
    margin-left: -30%;
}}

@media (min-width: 992px){
.column-chart {
    width: 40%;
    margin-left: -20%;
}}

@media (min-width: 1024px){
.column-chart {
    width: 36%;
    margin-left: -18%;
}}

.column-chart:after, .column-chart:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: calc(100% + 30px);
    height: 25%;
    margin-left: -15px;
    border-top: 1px dashed #a1a1a1;
    border-bottom: 1px dashed #a1a1a1;
}

.column-chart>.legend {
    position: absolute;
    z-index: -1;
    top: 0;
}

.column-chart>.legend.legend-left {
    left: 0;
    width: 25px;
    height: 75%;
    margin-left: -55px;
    border: 1px solid #a1a1a1;
    border-right: none;
}

.column-chart>.legend.legend-left>.legend-title {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 65px;
    height: 50px;
    line-height: 50px;
    margin-top: -25px;
    margin-left: -60px;
    font-size: 28px;
    letter-spacing: 1px;
}

.column-chart>.legend {
    position: absolute;
    z-index: -1;
    top: 0;
}

.column-chart>.legend.legend-right {
    right: 0;
    width: 100px;
    height: 100%;
    margin-right: -115px;
}

.column-chart>.legend.legend-right>.item {
    position: relative;
    width: 100%;
    height: 25%;
}

.column-chart>.legend.legend-right>.item>h4 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    font-size: 14px;
    text-align: right;
}

.column-chart>.chart {
    position: relative;
    z-index: 20;
    bottom: 0;
    left: 50%;
    width: 98%;
    height: 100%;
    margin-left: -49%;
}

.column-chart>.chart>.item {
    position: relative;
    float: left;
    width: 20%;
    height: 100%;
}

.column-chart>.chart>.item:before {
    position: absolute;
    z-index: -1;
    content: '';
    bottom: 0;
    left: 50%;
    width: 1px;
    height: calc(100% + 15px);
    border-right: 1px dashed #a1a1a1;
    opacity: .7;
}

.column-chart>.chart>.item>.bar {
    position: absolute;
    bottom: 0;
    left: 3px;
    width: 94%;
    height: 100%;
}

.column-chart>.chart>.item>.bar>span.percent {
    display: block;
    position: absolute;
    z-index: 25;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 26px;
    line-height: 26px;
    background-color: #eee;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
}

.column-chart>.chart>.item>.bar>.item-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: #c80a48;
}

.column-chart>.chart>.item>.bar>.item-progress>.title {
    position: absolute;
    top: calc(50% - 13px);
    left: 50%;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

@media (min-width: 360px){
.column-chart>.chart>.item>.bar>.item-progress>.title {
    font-size: 16px;
}}

@media (min-width: 480px){
.column-chart>.chart>.item>.bar>.item-progress>.title {
    font-size: 18px;
}}

.column-chart:after, .column-chart:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: calc(100% + 30px);
    height: 25%;
    margin-left: -15px;
    border-top: 1px dashed #a1a1a1;
    border-bottom: 1px dashed #a1a1a1;
}

a:focus, a:hover {
    color: #c80a48;
    text-decoration: none;
}
